
<div class="row">
  <div class="col-md-8">
    <%= render partial: 'votes/voter', locals: {post: @post } %>
    <h2><%= markdown @post.title %></h2>

    <p><%= markdown @post.body %></p>
    <h4>Comments:</h4>
    <div class="js-comments">
      <%=  render partial: 'comments/comment', collection: @comments %>
    </div>

    <% if policy(Comment.new).create? %>
    <div class="new-comment">
    <h4>Add a new comment:</h4>
    <%= render partial: 'comments/form' %>
    <% end %>
    </div>
  </div>

  <div class="col-md-4">
    <% if policy(@post).edit? %>
    <%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
    <% end %>
    <br>
    <% if policy(@post).destroy? %>
    <%= link_to "Destroy Post", topic_post_path(@topic, @post), method: :delete,  class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this post?'} %>
    <% end %>



<div><h3><%= pluralize(@post.points, 'point') %></h3></div>
  <small>
    <%= pluralize(@post.up_votes, 'up vote') %>,
    <br>
    <div class="js-comments-count"><%= pluralize(@post.down_votes, 'down vote') %></div>

  </small>
</div>
<%= render partial: 'favorites/favorite', locals: {post: @post} %>
</div>
